/* Coolors Exported Palette - coolors.co/000000-14213d-fca311-e5e5e5-ffffff */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(221%, 51%, 16%, 1);
$color3: hsla(37%, 98%, 53%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1); registration black
$color2: rgba(20, 33, 61, 1); yankees blue
$color3: rgba(252, 163, 17, 1); dark tengerine
$color4: rgba(229, 229, 229, 1); platinum
$color5: rgba(255, 255, 255, 1); white
